@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-4">
        <div>BotFramework Canvas (v0.14.0)</div>
        <iframe class="chat-iframe" data-src=@Html.Raw(string.Format("https://webchat.botframework.com/embed/rgammonfuncbot?v=0.14.0&t=##WEBCHAT_TOKEN##&userid={0}&username={1}", ViewBag.UserId, ViewBag.UserName))
                width="350" height="600"></iframe>
    </div>
    <div class="col-md-4">
        <div>CCI Chat Canvas</div>
        <iframe class="chat-iframe" data-src=@Html.Raw(string.Format("/BotCanvas?t=##LOCALHOST_TOKEN##&userid={0}&username={1}", ViewBag.UserId, ViewBag.UserName))
                width="350" height="600"></iframe>
    </div>
    <div class="col-md-4">
        <div>LivePerson Canvas</div>
        <iframe class="chat-iframe" src="/BotCanvas/LivePerson" width="350" height="600"></iframe>
    </div>
</div>

